# Jeopardy Data Analysis Project üéØ

## Introduction  
This project explores Jeopardy questions to identify patterns, trends, and relationships between different aspects of the game.

### üéØ Project Goals:
‚úî Find questions containing specific words  
‚úî Convert monetary values into numerical data  
‚úî Analyse how question topics have changed over time  
‚úî Identify the most common categories in each round

## 1Ô∏è‚É£ Importing Libraries & Loading the Data

In [8]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

# Loading the data and investigating it
jeopardy = pd.read_csv('jeopardy.csv')
print(jeopardy.columns)

# Renaming columns to remove leading spaces
jeopardy = jeopardy.rename(columns = {" Air Date": "Air Date", " Round" : "Round", " Category": "Category", " Value": "Value", " Question":"Question", " Answer": "Answer"})

# Confirming changes
print(jeopardy.columns)
print(jeopardy["Question"])

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')
Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')
0                               For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1                    No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                                       The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                                           In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4                       Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
                                                                   ...
216925                                                This Puccini opera turns on the solution to 3 riddles posed by the heroine
216926                   In North America this term is properly applied to only 4 species that are crested, including the tufted
216927                 In Penny Lane, where this "Hellraiser" grew up, the barber shaves another customer--then flays him alive!
216928    From Ft. Sill, Okla. he made the plea, Arizona is my land, my home, my father's land, to which I now ask to... return"
216929                   A silent movie title includes the last name of this 18th c. statesman & favorite of Catherine the Great
Name: Question, Length: 216930, dtype: object

## 2Ô∏è‚É£ Data Filtering: Finding Questions with Specific Words

In [11]:
# Function to filter questions that contain specific words
def filter_data(data, words):
    filter = lambda x: all(word in x for word in words)
    return data.loc[data['Question'].apply(filter)]

# Testing
filtered = filter_data(jeopardy, ['King', 'England'])
print(filtered['Question'])

4953                                                                                                                                                                                                                                                                      Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
14912                                                                                                                                                                                                                                                            This country's King Louis IV was nicknamed "Louis From Overseas" because he was raised in England
21511                                                                                                                                                                                                                                                                                 this man and his son ruled England following the execution of King Charles I
23810                                                                                                                                                                                                                                                         William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year
27555                                                                                                                                                                                                                                                                           This member of the Medici family was the mother-in-law of England's King Charles I
33294                 (Sarah of the Clue Crew delivers the clue from the Bayeux Cathedral in France.)  Despite taking an oath to assure another succession, Harold is crowned King of England; the tapestry indicated it was <a href="http://www.j-archive.com/media/2008-12-18_J_08.jpg" target="_blank">Stigant</a>, this archbishop, who performed the ceremony
41148                                                                                                                                                                                                                                    This French king recognized William of Orange as William II, King of England, under the terms of 1697's Treaty of Ryswick
41357                                                                                                                                                                                                                                                     England's King Henry VIII had 3 wives named Catherine:  Catherine Howard, Catherine of Aragon & this one
43122                                                                                                                                                                                                                                                                                                                       The father of England's King Edward VI
47814                                                                                                                                                                                                                                                                                                   This steak sauce was created for King George IV of England
49994                                                                                                                                                                                                                                                                       Elizabeth I's half-brother, he reigned before her as King of England from 1547 to 1553
51115                                                                                                                  (<a href="http://www.j-archive.com/media/2000-03-02_J_22.jpg" target="_blank">Alex Trebek reads from England.</a>)  In 1214 barons fed up with King John met at the abbey whose ruins we see here; the result a year later was this charter
51565                                                                                                                                                                                                                                                 He wrote several anthems, including "The King Shall Rejoice", for the coronation of England's King George II
56600                                                                                                                                                                                                                                                              This city known for its 24-hour auto race was the birthplace of England's King Henry II in 1133
57516                                                                                                                                                                                                                                                                                         Famous (& rather insulting) adjective for England's King Ethelred II
58949                                                                                                                                                                                                                                                                        He became King of England in 1399 after forcing his cousin Richard II from the throne
71808                                                                                                                                                                                                                                                                                      Number of the William who was England's "Sailor King" from 1830 to 1837
74235                                                                                                                                                                                                                                                                     Barons & churchmen drew up this 1215 document to reduce the power of England's King John
77195                                                                                                                                                                                                                                                          He became King of England on June 26, 1483; just over 2 years later he was killed at Bosworth Field
79457                                                                                                                                                                                                                                              On Christmas Day 1066, he was crowned King of England, 72 days after defeating Harold at the Battle of Hastings
80113                                                                                                                                                                                                                                                                                                England's King Charles II was known by this "jovial" nickname
84639                                                                                                                                                                                                                                                                            He went from second banana on "Roseanne" to top banana of England in "King Ralph"
86412                                                                                                                                                                                                                                                                         This country's King Olaf V was born in England & was the grandson of King Edward VII
89710                                                                                                                                                                                                                                                            This 11th Century King of England also ruled Denmark & Norway during the latter part of his reign
111926                                                                                                                                                                                                                                                   It begins "John, by the grace of God, King of England, Lord of Ireland, Duke of Normandy & Aquitaine...."
118809                                                                                                                                                                                                                                                                                            In French this King of England is called Guillaume le Conquerant
123299                                                                                                                                                                                                                                                                     If you want to be crowned King of England, this rock has to be in your coronation chair
123671                                                                                                                                                                                                                                                                                                                              King Henry VII of England dies
125822                                                                                                                                                                                                                                                                                              Famous nickname of the eldest son of England's King Edward III
127484                                                                                                                                                                                                                                                                Ethelred the Unready managed to lose most of England to King Sweyn Forkbeard of this country
127758                                                                                                                                                                                                                                                                                  This state was named for the King of England who reigned from 1727 to 1760
129106                                                                                                                                                                                                                                                              King Edward I of England, who fought William Wallace, had this nickname relating to his height
130208                                                                                                                                                                                                                                                                                    This "Sun King" sniffed, "England is a little garden full of sour weeds"
137818                                                                                                                                                                                                                                                                                        The last King William to rule England had this number after his name
143434                                                                                                                                                                                                                                                                This Flemish artist painted a unique triple portrait of England's King Charles I around 1637
150880                                                                                                                                                                                                                                                                                       During Stanley Baldwin's term as P.M., this King of England abdicated
165110                                                                                                                                                                                                                                                        The 1st commoner to rule England, he became lord protector following the overthrow of King Charles I
165197                                                                                                                                                                                                                                                       The "Angel of Hadley" is said to have saved a New England town during the war with this Indian "King"
170007                                                                                                                                                                                                                                                                In the 1697 Treaty of Rijswijk, the French recognized this Dutch-born man as King of England
174055                                                                                                                                                                                                                                                                                            This conqueror was crowned King of England on Christmas Day 1066
175259                                                                                                                                                                                                                                                                                                          His short reign as King of England fell in in 1936
183462                                                                                                                                                                                                                                                            A capital in the West Indies is named for this family name of William of Orange, King of England
186239                                                                                                                                                                                                                                           He was King of England from 1189 to 1199 but spent only 6 months there; the rest of the time, he was off fighting
187651                                                                                                                                                                                                                                                                     This Bahamian capital took its name from the family name of King William III of England
191579                                                                                                                                                                                                                                                                             England's King Harold II lost the all-important Battle of Hastings in this year
192265    (<a href="http://www.j-archive.com/media/2012-01-17_DJ_25.jpg" target="_blank">Sarah of the Clue Crew stands in front of the Royal Palace in Oslo, Norway.</a>) King Harald V lives here, in Norway's Royal Palace. He and his second cousin, England's Queen Elizabeth, are both great-grandchildren of this British king, who ruled from 1901 to 1910.
192966                                                                                                                                                                                                                                                                                                                          England's King _____ _____ R. Luce
194516                                                                                                                                                                                                                                                            The "Monty Python" member who played King Arthur, he ended his grail quest in Maidstone, England
200369                                                                                                                                                                                                                                             8th C. King Offa built a 170-mile north-south dike that still partly marks the border of England & this country
Name: Question, dtype: object

In [13]:
# Improving the function
# version 1 - Lowercases all words in the list of words as well as the questions BUT no longer find words like "England's"
def filter_data(data, words):
    filter = lambda x: all(word.lower() in x.lower() for word in words)
    return data.loc[data['Question'].apply(filter)]

# Testing
filtered = filter_data(jeopardy, ['King', 'England'])
print(filtered['Question'])


# version 2 - - lowercases all words in the list of words, doesn't find substrings, ensures NaN values don't break the function
def filter_data_2(data, words):
    filter_2 = lambda x: all(f" {word.lower()} " in f" {str(x).lower()} " for word in words)
    return data.loc[data["Question"].apply(filter_2)]

# Testing 
filtered_2 = filter_data_2(jeopardy, ["King", "England"])
print(filtered_2["Question"])

4953                    Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337      In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                    This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710               This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
13454                                       It's the number that followed the last king of England named William
                                                           ...
208295        In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England
208742                      Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
213870                In 1781 William Herschel discovered Uranus & initially named it after this king of England
216021          His nickname was "Bertie", but he used this name & number when he became king of England in 1901
216789        This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric
Name: Question, Length: 152, dtype: object
6337               In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                             This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
13454                                                It's the number that followed the last king of England named William
14912                   This country's King Louis IV was nicknamed "Louis From Overseas" because he was raised in England
18076                     In 1199 this crusader king of England was mortally wounded while besieging the castle of Chalus
                                                               ...
200369    8th C. King Offa built a 170-mile north-south dike that still partly marks the border of England & this country
201168                                           Popular Saint-Exupery character waiting around to become king of England
208742                               Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
213870                         In 1781 William Herschel discovered Uranus & initially named it after this king of England
216021                   His nickname was "Bertie", but he used this name & number when he became king of England in 1901
Name: Question, Length: 74, dtype: object

## 3Ô∏è‚É£ Data Cleaning: Converting Monetary Values to Floats

In [16]:
# Function to clean and convert "Value" column to float
def convert_float(data):
    converter = lambda x: str(x).replace(",", "").replace("no value", "0.0").replace("$", "") # Cleaning values for conversion
    data["Value_converted"] = data["Value"].apply(converter).astype(float) # Converting to float
    
    return data

df_converted = convert_float(jeopardy)
print(df_converted[["Value", "Value_converted"]].head(10))  # Check before & after

  Value  Value_converted
0  $200            200.0
1  $200            200.0
2  $200            200.0
3  $200            200.0
4  $200            200.0
5  $200            200.0
6  $400            400.0
7  $400            400.0
8  $400            400.0
9  $400            400.0

## 4Ô∏è‚É£ Finding the Average Value of Questions Containing Specific Words

In [19]:
# Function to calculate the average value of questions containing specific words
def find_avg_value_words(data, words):
    filtered_data = filter_data_2(data, words) # Filtering the dataset
    return filtered_data["Value_converted"].mean() # Calculating the average

avg_value = find_avg_value_words(jeopardy, ["King"])
print(avg_value)

805.4698795180723

## 5Ô∏è‚É£ Counting Unique Answers to Filtered Questions

In [22]:
# Function to count unique answers for filtered questions
def count_unique_answers(data, words):
    filtered_data = filter_data_2(data, words)
    return filtered_data['Answer'].value_counts()

unique_answers = count_unique_answers(jeopardy, ['king'])
print(unique_answers)

# Finding the most common answer:
most_common_asnwer = unique_answers.idxmax()
print(f"The most common answer is: {most_common_asnwer}.")

Answer
Henry VIII                           41
Sweden                               24
Solomon                              23
Norway                               22
Richard III                          21
                                     ..
Tory                                  1
Naomi Watts Riots                     1
Bad, Bad Leroy Brown                  1
Elephants                             1
a pyramid (the pyramids accepted)     1
Name: count, Length: 1165, dtype: int64
The most common answer is: Henry VIII.

## 6Ô∏è‚É£ Analysing How Questions Change Over Time
**NOTE**: There are different ways of doing this. one would be to check if the string (since data in that column is a string) contains specific numbers to filter thorught the dates. This approach is slightly different.

In [25]:
print(jeopardy.dtypes) # checking data types

# Filtering questions that contain 'Computer'
filtered_data = filter_data_2(jeopardy, ["Computer"]).copy() # copy to avoid modifying the original

# Converting 'Air Date' values to datetime
filtered_data["Air Date"] = pd.to_datetime(filtered_data["Air Date"])

# Extracting year as a integer from date
filtered_data["Year"] = filtered_data["Air Date"].dt.year  # Creates a new column 'Year'

# Filtering by decade (90s and 2000s)
data_90s = filtered_data[(filtered_data["Year"] >= 1900) & (filtered_data["Year"] <= 1999)]
data_2000s = filtered_data[(filtered_data["Year"] >= 2000) & (filtered_data["Year"] <= 2009)]

# Counting the number of questions in each period (.shape[0] returns the number of rows)
count_90s = data_90s.shape[0]
count_2000s = data_2000s.shape[0]

# Printing the reults
print(f"Questions in the 90s that contain 'Computer': {count_90s}")
print(f"Questions in the 2000s that contain 'Computer': {count_2000s}")

Show Number          int64
Air Date            object
Round               object
Category            object
Value               object
Question            object
Answer              object
Value_converted    float64
dtype: object
Questions in the 90s that contain 'Computer': 71
Questions in the 2000s that contain 'Computer': 197

## 7Ô∏è‚É£ Investigating Category Trends by Round

In [28]:
# Function to count how many times a category appears in each round
def count_category_in_rounds(data, category_name):
    #option one: (.groupby() and .size())
    #grouped_data = data.groupby(['Round', 'Category']).size().reset_index(name="Count") 

    #option two: (.value_counts())
    category_counts = data[['Round', 'Category']].value_counts().reset_index(name="Count") 

    # Converting category names to lowercase and removing spaces to ensure a match
    category_counts["Category"] = category_counts['Category'].str.strip().str.lower()
    category_name = category_name.strip().lower()

    # Filtering for specific category
    filtered_counts = category_counts[category_counts["Category"] == category_name]

    return filtered_counts
    
# Testing 
literature_counts = count_category_in_rounds(jeopardy, "Literature")
print(literature_counts)

science_counts = count_category_in_rounds(jeopardy, "Science")
print(science_counts)

# Finding the most common categories per round:
most_common_per_round = jeopardy[['Round', 'Category']].value_counts().reset_index(name="Count")
print(most_common_per_round.head(10))

                 Round    Category  Count
1     Double Jeopardy!  literature    381
95           Jeopardy!  literature    105
2724   Final Jeopardy!  literature     10
                 Round Category  Count
2     Double Jeopardy!  science    296
13           Jeopardy!  science    217
4499   Final Jeopardy!  science      6
              Round         Category  Count
0  Double Jeopardy!   BEFORE & AFTER    450
1  Double Jeopardy!       LITERATURE    381
2  Double Jeopardy!          SCIENCE    296
3         Jeopardy!   STUPID ANSWERS    255
4         Jeopardy!        POTPOURRI    255
5  Double Jeopardy!  WORLD GEOGRAPHY    254
6         Jeopardy!           SPORTS    253
7  Double Jeopardy!            OPERA    250
8  Double Jeopardy!    WORLD HISTORY    237
9         Jeopardy!          ANIMALS    233

## üéØ Summary of Findings
- The most common Jeopardy! category is **"BEFORE & AFTER"** in Double Jeopardy.
- **Literature** and **Science** appear far more often in **Double Jeopardy! than Jeopardy!**.
- The word **"Computer"** appeared more in Jeopardy! questions in **the 2000s than in the 90s**.
- **"Stupid Answers"** is one of **the most frequent** categories in Jeopardy!